<div class= "box"><h1>Books</h1></div>
<table border = "0">
  <thead>
  <tr>
    <th>Taitle</th>
    <th>Body</th>
    <th></th>
  </tr>
  </thead>
<% @books.each do |book| %>
 <tr>
   <th><span><%= book.title %></span></th>
   <th><span><%= book.body %></span></th>
   <th>
     <%= link_to "Show",book_path(book.id) %>
     <%= link_to "Edit",edit_book_path(book.id) %>
     <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>

   </th>
 </tr>

<% end %>
</table>

<h1>New books</h1>
<% if @book.errors.any? %>
 <%= @book.errors.count %>error
  <% @book.errors.full_messages.each do |message| %>
   <%= message %>
  <% end %>
<% end %>


<%= form_with model: @book, url:'/books', local:true do |f| %>
<div>
  <h4>Title</h4>
  <%= f.text_field :title %>
</div>
<div>
  <h4>Body</h4>
  <%= f.text_area :body %>
</div>
  <div><%= f.submit 'Create Book' %></div>
<% end %>
